/* font-family: 'Fugaz One', cursive;
font-family: 'Varela', sans-serif; */
/* font-family: 'Raleway', sans-serif;
font-family: 'Raleway Dots', cursive; */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Varela', sans-serif;
}

p {
  line-height: 2;
}

a {
  text-decoration: underline;
}

a:visited {
  color: inherit;
}

body {
  font-family: 'Varela', sans-serif;
  background: linear-gradient(#E1F5FE, #ECEFF1);
  padding: inherit;
}

/* Classes */
.row_top {
  text-align: center;
}

.container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.prev, .next {
  text-align: center;
  cursor: pointer;
  position: relative;
  top: 50%;
  /* width: auto; */
  margin-top: -22px;
  padding-left: 90px;
  padding-right: 90px;
  color: #F7C63A;
  font-weight: bold;
  font-size: 40px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.topnav {
  text-align: center;
  background-color: #F8C471;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  box-shadow: 5px 5px 5px gray;
}

.links {
  padding-left: 40px;
  padding-right: 40px;
}

.about_me {
  text-align: center;
  margin: 50px 10px 50px auto;
}

.logo {
  text-align: center;
  position: relative;
  width: 25%;
  height: 25%;
}

.profile_pic {
  border-radius: 50%;
  position: relative;
  float: left;
  margin-left: 200px;
}

.pics_top {
  max-width: 50%;
  /* float: left; */
}

.pics_bot {
  max-width: 50%;
  margin-top: auto;
  margin-right: 400px;
  /* float: left; */
}

.slide_text {
  text-align: center;
  float: right;
  max-width: 50%;
  margin-top: 30px;
  line-height: 2;
}

.skills {
  text-align: center;
  line-height: 1.5;
  position: inherit;
}

.skills_text {
  line-height: 1.5;
  text-align: center;
}

.skills_row_1 {
  text-align: center;
  padding: 0 5px 0;
  display: block;
}

.hobbies .work .skills .work_fun {
  padding: 40px;
}

/* Hidden Spans And Such */
.extra_text_1, .extra_text_2, .extra_text_3, .extra_text_4, .extra_text_5, .extra_text_6, .extra_text_7 {
  display: none;
  transition: transform 2s;
}

span:hover+.extra_text_1 {
  transition: 2s;
  transition-property: all;
  transition-timing-function: ease-in;
  background-color: #F7C63A;
  display: block;
  padding: 20px;
}

span:hover+.extra_text_2 {
  transition: 2s;
  transition-property: all;
  transition-timing-function: ease-in;
  background-color: #F7C63A;
  display: block;
  padding: 20px;
}

span:hover+.extra_text_3 {
  transition: 2s;
  transition-property: all;
  transition-timing-function: ease-in;
  background-color: #F7C63A;
  padding: 20px;
  display: block;
}

span:hover+.extra_text_4 {
  background-color: #F7C63A;
  padding: 20px;
  display: block;
}

span:hover+.extra_text_5 {
  background-color: #F7C63A;
  padding: 20px;
  display: block;
}

span:hover+.extra_text_6 {
  background-color: #F7C63A;
  padding: 20px;
  display: block;
}

span:hover+.extra_text_7 {
  background-color: #F7C63A;
  padding: 20px;
  display: block;
}

/* Footer */
.socials {
  background-color: #F8C471;
  text-align: center;
}

.fab {
  padding: 50px;
}
