/* font-family: 'Fugaz One', cursive;
font-family: 'Varela', sans-serif; */
/* font-family: 'Raleway', sans-serif;
font-family: 'Raleway Dots', cursive; */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Varela', sans-serif;
}

p {
  line-height: 1.5;
}

a {
  text-decoration: underline;
}

a:visited {
  color: inherit;
}

body {
  font-family: 'Varela', sans-serif;
  background: linear-gradient(#E1F5FE, #ECEFF1);
  padding: inherit 100px inherit;
}

/* Classes */
.container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: relative;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.topnav {
  text-align: center;
  background-color: #ACBDC8;
}

.top_table_row {
  text-align: center;
  margin-bottom: 40px;
}

.links {
  padding-left: 20px;
  padding-right: 20px;
}

.intro_text {
  text-align: center;
  margin: 0 auto 50px;
}

.logo {
  text-align: center;
  position: relative;
}

.profile_pic {
  border-radius: 50%;
  position: relative;
}


.pics_top {
  max-width: 50%;
  /* float: left; */
}

.pics_bot {
  max-width: 50%;
  margin-top: auto;
  margin-right: 400px;
  /* float: left; */
}

.slide_text {
  text-align: center;
  float: right;
  max-width: 50%;
}

.skills {
  text-align: center;
  line-height: 1.5;
  position: inherit;
}

.extra_text {
  display: none;
}

span:hover + .extra_text {
  background-color: #F3C130;
  padding: 10px;
  display: block;

}
.skills_text {
  line-height: 1.5;
  text-align: center;
}

.skills_row_1 {
  text-align: center;
  padding: 0 5px 0;
}

.hobbies .work .skills .work_fun {
  padding: 40px;
}
